body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: #f4f4f4; */
  font-family: Arial, sans-serif;
  background: linear-gradient(
    70deg,
    rgba(153, 233, 242, 0.334),
    #3bc9db,
    #0c8599,
    #99e9f2,
    #0b7285
  );
}
.change-password-container {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
}
.change-password-container h2 {
  margin-bottom: 16px;
  color: #1864ab;
}
.input-group {
  margin: 16px 0;
  text-align: left;
}
.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.input-group input {
  width: 92%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.save-btn {
  background: #4dabf7;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
.save-btn:hover {
  background: #1971c2;
}
.message {
  display: none;
  color: green;
  margin-top: 10px;
}
p {
  color: #868e96;
  margin-bottom: 30px;
}
input::placeholder {
  color: #ced4da;
}
.back-nav {
  display: flex;
  margin-top: 30px;
  padding: 10px;
  font-size: 16px;
  justify-self: center;
}
.back-nav:hover {
  cursor: pointer;
  color: #0e3c67;
  text-decoration: underline;
}

/* #############################################################################################
#########################    RESPONSIVE DESIGN    #######################################
############################################################################################## */

/* Responsive Design for All Screens */

@media (max-width: 1024px) {
  .change-password-container {
    max-width: 80%;
    padding: 2rem;
  }
  .input-group input {
    width: 100%;
  }
  .save-btn {
    font-size: 16px;
    padding: 10px 15px;
  }
}

@media (max-width: 768px) {
  .change-password-container {
    max-width: 90%;
    padding: 1.5rem;
  }
  .input-group input {
    width: 100%;
    padding: 8px;
  }
  .save-btn {
    font-size: 14px;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  .change-password-container {
    max-width: 95%;
    padding: 1rem;
  }
  h2 {
    font-size: 18px;
  }
  .input-group label {
    font-size: 14px;
  }
  .save-btn {
    font-size: 14px;
    padding: 10px;
  }
  .back-nav {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .change-password-container {
    max-width: 100%;
    padding: 0.8rem;
  }
  h2 {
    font-size: 16px;
  }
  .input-group label {
    font-size: 12px;
  }
  .save-btn {
    font-size: 12px;
    padding: 8px;
  }
  .back-nav {
    font-size: 12px;
  }
}
