body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: #f4f4f4; */
  font-family: Arial, sans-serif;
  background: linear-gradient(
    70deg,
    rgba(153, 233, 242, 0.334),
    #3bc9db,
    #0c8599,
    #99e9f2,
    #0b7285
  );
}
.forgot-password-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
}
.forgot-password-container h2 {
  margin-bottom: 20px;
  color: #333;
}
.input-group {
  margin: 16px 0;
  text-align: left;
}
p {
  color: #495057;
  margin-bottom: 30px;
}
.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.input-group input {
  width: 92%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.reset-btn {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
.reset-btn:hover {
  background: #0056b3;
}
.message {
  display: none;
  color: green;
  margin-top: 10px;
}

.back-nav {
  display: flex;
  margin-top: 30px;
  padding: 10px;
  font-size: 16px;
  justify-self: center;
}
.back-nav:hover {
  cursor: pointer;
  color: #0e3c67;
  text-decoration: underline;
}

/* #############################################################################################
#########################    RESPONSIVE DESIGN    #######################################
############################################################################################## */

@media (max-width: 1024px) {
  .forgot-password-container {
    width: 90%;
    padding: 25px;
  }
}

@media (max-width: 768px) {
  body {
    height: auto;
    padding: 20px;
  }
  .forgot-password-container {
    width: 95%;
    padding: 20px;
  }
  .input-group input {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .forgot-password-container {
    width: 100%;
    padding: 15px;
  }
  .reset-btn {
    font-size: 14px;
    padding: 8px 12px;
  }
  .back-nav {
    font-size: 14px;
  }
}
